@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Questrial&display=swap');
*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1160px;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

/*///HEADER//*/

.header {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100px;
    font-weight: bold;
    background: rgba(92, 91, 91, 0.6);
    color: rgba(255, 255, 255, 255);
    position: absolute;
    top: 0;
 
}

header a {
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
}

.menu_item:hover .menu_item_link{
    color: #18cfab;
}

.top_navigation {
    color: #ccc;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  
}

/*HEXAGON H*/
.symbol_hexagon {
    position: relative;
    background-color: #18cfab;
    width: 60px;
    height: 32px;
}

.symbol_hexagon:before,
.symbol_hexagon:after {
    content: "";
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
}

.symbol_hexagon:before {
    bottom: 100%;
    border-bottom: 20px solid #18cfab;
}

.symbol_hexagon:after {
    border-top: 20px solid #18cfab;
    top: 100%;
    width: 0;
}

.inside_logo {
    position: relative;
}

.inside_logo::before {
    content: "H";
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(50%, -10%);
    z-index: 1;
}


.logo {
    display: flex;
    align-items: center;
}


.company_name {
    font-size: 20px;
    font-weight:bold;
    color: rgba(255, 255, 255, 255);
    margin-left: 8px;
}

.blue_text {
    font-size: 25px;
    color: #18cfab;
    font-weight: 900;
   
}

.site-menu {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-transform: uppercase;
    font-size: 13px;
    box-sizing: content-box;
}

.menu_item{
    list-style-type: none;
    padding: 44px 0;
    box-sizing: content-box;
}
.menu_item:hover {
    border-bottom: 2px solid #18cfab;
}

.searchbox {
    cursor: pointer;
}

.searchbox .fa-search:hover {
    color: #18cfab;
    transform: scale(1.2);
}

.parallax {
    perspective: 1px;
    overflow: hidden;
    transform-style: preserve-3d;
    width: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_parallax {
    background-image: url('../images/section-1(header).jpg');
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.slogan {
    padding: 366px 0 244px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.slogan_motto {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    color: rgba(255, 255, 255, 255);
    letter-spacing: 2px;
}

.slogan_motto_creative {
    text-transform: uppercase;
    text-align: center;
    font-size: 62px;
    font-weight: 900;
    margin: 45px 0 37px;
    color: rgba(255, 255, 255, 255);
    font-family: 'Lato', sans-serif;
}

.slogan_offer {
    text-transform: capitalize;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: #949393;
}

.buttons_now {
    display: inline-flex;
    justify-content: center;
    margin-top: 145px;
}

.buttons_now a {
    text-decoration: none;
    font: 13px bold;
    text-transform: uppercase;
    width: 167px;
    height: 62px;
    border-radius: 5px;
    border-top: 4px solid white;
    color: rgba(255, 255, 255, 255);
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.btn_explore {
    background-color: #18CFAB;
    margin-right: 27px;
}

.btn_purchase {
    background-color: #00CBF6;
    
}

.button:hover {
    font-weight: 900;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 6px 15px 15px 0px rgba(0,0,0,0.75);
}

/*BENEFITS*/
.benefits_list {
    text-transform: uppercase;
    display: flex;
    height: 300px;
    font: 20px bold;
    font-family: 'Lato', sans-serif;
}

.benefit:nth-child(odd) {
    width: 25%;
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color: #18cfab;

}

.benefit:nth-child(even) {
    width: 25%;
    background-color: #18cfab;
    border-top: 7px solid white;
    color: white;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.themes:nth-child(even) {
    margin-top: 59px;
}

.themes:nth-child(odd) {
    margin-top: 49px;
}


.heading_h2 {
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    text-align: center;
    padding-top: 97px;
    text-transform: capitalize;
}

/*SERVICES SECTION*/
.services {
    text-align: center;
    padding-bottom: 100px;
}

.services-tabs {
    margin-top: 60px;
    width: 1141px;

}

.tabs {
    display: flex;
    background-color: #fff;
    margin-bottom: 25px;
}

.tab {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #f8fcfe;
    padding: 27px 41px 30px 41px;
    border: 1px solid rgb(236, 236, 236);
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

.tab-content-img img {
    margin-right: 20px;
    width: 194px;
    height: 139px;
}

.tab-content-text {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;

}

.tab.active {
    position: relative;
    background-color: #18cfab;
    color: #ffffff;
}

.tab.active:after {
    content: "";
    position: absolute;
    left:50%;
    transform: translate(-50%);
    display: inline-block;
    border: 12px solid transparent;
    bottom: -23px;
    border-top: 12px solid #18cfab;
}

.tabs-content {
    padding-top: 10px;
    height: 200px;
}

.tabs-content .tab-content {
    display: none;
    padding-top: 15px;
}

.tabs-content .tab-content.active {
    display: flex;
}


.heading_h2::after {
    margin-top: 30px;
    margin-bottom: 70px;
    content: '';
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-52%);
    bottom: 0;
    width: 76px;
    border-bottom: 1px solid #18cfab;
    box-shadow: 12px 4px #18cfab;
}

.tabs_services:before {
    width: 76px;
    height: 1px;
    text-align: center;
    background-color: #18cfab;
}

/*MIDDLE PARALLAX SECTION*/
.middle_parallax {
    background-image: url('../images/section-2.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    height: 350px;
}

.middle_text {
    padding: 128px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.middle_motto {
    font: 39px bold;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    text-transform: uppercase;
}

.middle_text > p {
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
    text-align: center;
    margin: 35px 0 76px;
}

.purchase_middle {
    background-color: #18CFAB;
    margin-right: 27px;
    text-decoration: none;
    font: 13px bold;
    text-transform: uppercase;
    width: 165px;
    height: 61px;
    border-radius: 5px;
    border-top: 6px solid white;
    color: rgba(255, 255, 255, 255);
}


/* AMAZING WORK */
.amazing_work {
    background-color: #f8fcfe;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding-bottom: 100px;
}

.work-tabs {
    margin-top: 70px;
}

.work-tabs-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-tab-item {
    padding: 25px 30px 25px 30px;
    border: 1px solid rgb(236, 236, 236);
    text-transform: capitalize;
    cursor: pointer;
}

.work-tab-item-active {
    border-top: 2px #18cfab solid;
    color: #18cfab;
}

.work-image-fixedsize {
    width: 280px;
    height: 210px;
}

.work-images {
    padding-top: 70px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.work-btn {
    background-color: #18cfab;
    color: #ffffff;
    box-shadow: none;
}

.work-btn span {
    margin-left: 16px;
    font-size: 14px;
}

.work-image-item {
    display: none;
    position: relative;
}

.work-image-hover {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 3px solid transparent;
    background-color: white;
    padding: 48px 0;
}

.work-image-hover .fa-link , .work-image-hover .fa-search{
    background-color: white;
    border-radius: 50%;
    border: 1px solid #18cfab;
    color: #18cfab;
    padding: 11px 13px 13px 14px;
}
.fa-link:hover{
    background-color: #18cfab;
    color:white;
}
.work-image-hover .fa-search:hover{
    background-color: #18cfab;
    color:white;
}


.img-header {
    padding-top: 35px;
    padding-bottom: 18px;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.img-description {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 24.87px;
    text-transform: capitalize;
}

.work-image-item:hover .work-image-hover {
    opacity: 1;
    border-top: 2px solid #18cfab;
    transition: all 0.2s;
}

.button_load {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.load_more {
    background-color: #18CFAB;
    margin-right: 27px;
    border: none;
    width: 165px;
    height: 60px;
    border-radius: 5px;
    text-decoration: none;
    font: 14px bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 255);
    cursor: pointer;
}

.load_more > .fas {
    margin-right: 16px;
}

.load_more:hover {
    font-weight: bold;
    color: #007ff6;
}

/*LOADING*/

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: loadBall 1.8s infinite ease-in-out;
}
.loader {
  color: #18d422;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
  color: yellow;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
  color: #20dddd !important;
}
.loader:after {
  left: 3.5em;
}
@keyframes loadBall {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/*//NEWS//*/

.gallery_news {
    background-color: #ffffff;
    text-transform: capitalize;
}

.bg_color{
    padding: 10px;
}
.breaking_news {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 130px;

}

.news_container {
    border: 1px solid #f8fcfe;
    margin-bottom: 60px;
    height: 208px;
    position: relative;
    margin-top: 45px;

}
.caption-title-link{
    font-weight: 900;
}
.post> figcaption {
    border: 1px solid #ebebeb;
    height: 90px;
    line-height: 150%;

}
.post a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(119, 119, 119, 255);
    text-align: left;

}

.datebox {
    color: #fff;
    text-align: center;
    line-height: 1.5;
    background-color: #203e38;
    position: absolute;
    top: 0;
    right: 0;
    width: 66px;
    height: 68px;
    padding: 10px;
}
.post:hover .datebox {
    background-color: #18cfab;
}

.caption_title {
    font-size: 18px;
    color: rgba(113, 113, 113, 255);
}
.post:hover .caption_title {
    color: rgba(24, 207, 171, 255);
}

.post_comments {
    padding: 15px 0;
    display: inline-flex;
}

.post_comments p:first-child {
    padding-right: 10px;
}

.post_comments p:last-child {
    border-left: 1px solid #bfc1c2;
    padding-left: 15px;
}



/*//FEEDBACKS//*/
.feedbacks {
    background-image: url('../images/mountains.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-position: bottom;
    align-items: center;
    padding-bottom: 30px;
}
.about-content {
    text-align: center;
    line-height: 1.7;
    color: rgba(187, 187, 187, 255);
}
.about-content>h2 {
    color: #ffffff;
}
.saying-quote {
    position: relative;
    font-size: 16px;
    margin: 20px auto;
    min-height: 100px;
    display: grid;
    align-items: center;
}
.saying-quote>img{
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}

.saying-name p:nth-child(1) {
    font-size: 18px;
    color: #18cfab;
    margin-top: 40px;
    text-transform: uppercase;
}

.saying-name p:nth-child(2) {
    text-transform: capitalize;
}

.saying-pic-box {
    box-sizing: border-box;
    margin: 35px auto 50px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #18cfab;
    box-shadow: 0 0 0px 10px rgba(24, 207, 171, 0.4);
    overflow: hidden;
}

.saying-pic-face {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.people-slider {
    width: 450px;
    height: 80px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-btn, .right-btn {
    cursor: pointer;
    font-size: 16px;
    padding: 5px 12px;
    border: 1px solid #eee;
}

.left-btn:hover, .right-btn:hover {
    background-color: #18cfab;
    color: #fff;
    border-color: #18cfab;
}

.faces-carousel {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.face {
    cursor: pointer;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #18cfab;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.face:hover {
    box-shadow: 0 0 0 8px rgba(24, 207, 171, 0.4);
}

.faces-carousel > .selected {
    transform: translate(0, -10px);
    box-shadow: 0 0 0 8px rgba(24, 207, 171, 0.4);
}
.hidden {
    display: none;
}


/*FOOTER*/
.footer {
    padding: 30px;
    background: #22353f;
    text-align: center;
    color: #aeaeae;
    margin: 15px 0;
}

.footer > p {
    color: #aeaeae;
}
.blue_text_footer{
    color: #18cfab;
    font-weight: 900;
}
